<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header"></div>
                <div class="card-body">
                    <form name="formChangePass"  (ngSubmit)="formchangpass.form.valid && changePassWord()" #formchangpass="ngForm" >
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label >Mật khẩu cũ <span class="required-label">*</span></label>
                                    <input type="password" [(ngModel)]="changePass.currentPassword" #currentPassword="ngModel" required name="oldPassword" class="form-control" />
                                    <div *ngIf="formchangpass.submitted && currentPassword.invalid" class="invalid-feedback display-block">
                                        <div *ngIf="currentPassword.errors.required">Bạn phải nhập mật khẩu cũ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Mật khẩu mới <span class="required-label">*</span></label>
                                    <input type="password" [(ngModel)]="changePass.newPassword" #newPassword="ngModel" required name="newPassword" class="form-control" />
                                    <div *ngIf="formchangpass.submitted && newPassword.invalid" class="invalid-feedback display-block">
                                        <div *ngIf="newPassword.errors.required">Bạn phải nhập mật khẩu mới</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Nhập lại mật khẩu <span class="required-label">*</span></label>
                                    <input type="password" [(ngModel)]="changePass.confirmNewPassword" #confirmNewPassword="ngModel" required name="confirmNewPassword" class="form-control" />
                                    <div *ngIf="formchangpass.submitted && confirmNewPassword.invalid" class="invalid-feedback display-block">
                                        <div *ngIf="confirmNewPassword.errors.required">Bạn phải nhập mật khẩu xác nhận</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>